export HOST_POST=:8080
export LOG_LEVEL=ERROR
export PACK_AND_GO_DATASOURCE_USERNAME='pack-and-go'
export PACK_AND_GO_DATASOURCE_PASSWORD='pack-and-go+'
export PACK_AND_GO_DATASOURCE_URL=':username::password@tcp(localhost:3308)/pack-and-go?charset=utf8'
export SENTRY_DSN='http://73f889a91861474ab5ad2860d4b10aad@192.168.0.155:9000/1'
export SENTRY_ENVIRONMENT=dev
export SENTRY_RELEASE=sample

